@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
    fill: none;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
    stroke: #E34F26;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
    stroke: #F7DF1F;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
    stroke: #00b0ff;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
    stroke: #999999;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
    stroke: #89D96D;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

.my-svg {
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 20%;
    dominant-baseline: hanging;
    width: 100%;
    height: 100%;
    font: 8.5em/1 Open Sans, Impact;
    text-transform: uppercase;
}